{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{%static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title></title>
</head>

<body>
    <div class="container">
        <div class="row">
            {% for user in users  %}
            <div class="card mt-5 ml-3" style="width:200px;">

                    <img class="card-img-top h-50 rounded" src="{{ user.user_image.url }}" alt="img-card">
                    <div class="card-body mt-3">
                        <h5 class="card-title text-center">{{ user.user }}</h5>
                        <ul class="list-inline text-center card-link">
                            <li class="list-inline-item">
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
            </div></a>
            {% endfor %}
        </div>
    </div>

</body>

</html>