{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-5 mb-5">
    <h2>List of items</h2>
    <div class="row mt-5">
        {% for item in object_list %}
        <div class="card border-radius-015 mt-3 mr-5">
            <div class="card-body">
                <p class="card-text">
                    <a href="{{ item.get_absolute_url }}">{{item}}</a>
                    <span class="small badge p-2">&nbsp;&nbsp;&nbsp;-{{ item.get_category_display }}</span>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}